.first {
    color:black;
    background-color:darkgrey;
}

.firstList {
    color:white;
    background-color:blue;
}

.secondList {
    color:black;
    background-color:darksalmon;
}

.thirdList {
    color:white;
    background-color:darkblue;
}